<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Facing Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='xterm.css') }}">
    <script src="{{ url_for('static', filename='xterm.js') }}"></script>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>


    <!-- RequireJS -->
    <!-- Monaco requires a module loader (AMD) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>

    <script>
        // Monaco loads files in a vs folder, setting the path for Cloudflare to host
        require.config({
          paths: {
            vs: "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs"
          }
        });
    </script>

</head>
<body>
    <div class="ide-container">
      <div class="ide-left">
      <div id="editor"></div>
    </div>
    <div class="ide-right">
      <div id="terminal"></div>
    </div>
   </div>

    <button class="compile" type="submit">▶ Run</button>
    

    <script type="module" src="{{ url_for('static', filename='monacoSetup.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='sockets/getSocketBackend.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='getSubmissionCode.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='services/initTerminal.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">





</body>
</html>